@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url(./pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
}

main{
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url(./pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

#tela1{
    position: relative;
    top:80px;
    left:22px;
    height: 469px;
    width: 268px;
}

#redes-sociais{
    text-align: right;
   
}

#redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 15px;

    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.562);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    transition: transform 0.5s, border 1s;
}