@charset '  UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1: Verdane, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header, footer{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;
}

header > p {
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 1.5vh;
}

a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: rgb(160, 156, 156);
    transition: 1s;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

    font-family: var(--font3);
    font-size: 2vh;
}

section > p{
    padding-bottom: 1em;
}

.comFoto{
    background-color: rgba(51, 51, 51, 0.712);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.349);
    background-attachment: fixed;
}

.comFoto > p{
    background-color: rgba(29, 28, 28, 0.411);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.548);

}

section#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover; 
}

section#img2{
    background-image: url('imagens/background002.jpg');
    background-position: center bottom;
    background-size: cover;
}

footer > p{
    padding: 15px;
}

